In [1]:
path=r"C:\\Users\\SREEJA.M\\Downloads\\salary.txt"

In [2]:
import numpy as np
import pandas as pd
from sklearn.linear_model import LinearRegression
import matplotlib.pyplot as plt
import itertools as it
import seaborn as sns

In [5]:
df=pd.read_fwf(path,names=["Sex", "Rank", "Year", "Degree", "YSdeg", "Salary"])

In [6]:
df.head()

   Sex  Rank  Year  Degree  YSdeg  Salary
0    0     3    25       1     35   36350
1    0     3    13       1     22   35350
2    0     3    10       1     23   28200
3    1     3     7       1     27   26775
4    0     3    19       0     30   33696

#Features--->sex,Rank,Year,Degree,YSdeg         #Target---->Salary

In [7]:
df1=df
y=df['Salary']
x=df1.drop(['Salary'],axis=1)

In [9]:
# Linear Equation:
regr = LinearRegression()
regr.fit(x, y)
Y_predict = regr.predict(x)
Y_predict

array([34400.87095406, 30280.8311962 , 28703.46131917, 27981.51222111,
       33479.30927822, 31858.20107323, 25289.18504199, 32244.57279387,
       30582.15067125, 30453.3600977 , 29797.97142837, 26046.74100297,
       28993.34499261, 23450.90187105, 28091.8109778 , 28285.20660404,
       30538.41234329, 26090.89886279, 25479.24852141, 28361.24745835,
       21759.90109051, 22452.87980904, 28542.78775113, 28850.74370957,
       24051.11641081, 26933.11534775, 24759.25479938, 28432.48899444,
       23129.55473497, 21841.64899952, 21134.85957149, 23901.45911252,
       19538.99787761, 21505.65209023, 22986.53392007, 20574.60998882,
       18966.28654598, 17080.96071051, 16952.17013696, 17080.96071051,
       16598.10094268, 17028.21099127, 20349.33136808, 17968.68401582,
       16244.03174839, 16501.61289548, 17099.45252736, 17614.61482154,
       16018.75312766, 17260.54562726, 17260.54562726, 16648.89528588])

Find the selection of columns with the best R^2 score.

In [11]:
col_combinations = []

for i in range(len(df.columns)):
    col_combinations += list(it.combinations(x.columns, i+1))

col_combinations

[('Sex',),
 ('Rank',),
 ('Year',),
 ('Degree',),
 ('YSdeg',),
 ('Sex', 'Rank'),
 ('Sex', 'Year'),
 ('Sex', 'Degree'),
 ('Sex', 'YSdeg'),
 ('Rank', 'Year'),
 ('Rank', 'Degree'),
 ('Rank', 'YSdeg'),
 ('Year', 'Degree'),
 ('Year', 'YSdeg'),
 ('Degree', 'YSdeg'),
 ('Sex', 'Rank', 'Year'),
 ('Sex', 'Rank', 'Degree'),
 ('Sex', 'Rank', 'YSdeg'),
 ('Sex', 'Year', 'Degree'),
 ('Sex', 'Year', 'YSdeg'),
 ('Sex', 'Degree', 'YSdeg'),
 ('Rank', 'Year', 'Degree'),
 ('Rank', 'Year', 'YSdeg'),
 ('Rank', 'Degree', 'YSdeg'),
 ('Year', 'Degree', 'YSdeg'),
 ('Sex', 'Rank', 'Year', 'Degree'),
 ('Sex', 'Rank', 'Year', 'YSdeg'),
 ('Sex', 'Rank', 'Degree', 'YSdeg'),
 ('Sex', 'Year', 'Degree', 'YSdeg'),
 ('Rank', 'Year', 'Degree', 'YSdeg'),
 ('Sex', 'Rank', 'Year', 'Degree', 'YSdeg')]

In [12]:
def reg_score(input_cols):
    X_train = df[list(input_cols)]
    Y_train = df['Salary'].values.reshape(-1,1)

    # Linear Equation:
    reg_LR = LinearRegression()
    reg_LR.fit(X_train, Y_train)
    return reg_LR.score(X_train, Y_train)

In [15]:
max_score = 0
trains = []
for i in col_combinations:
    score = reg_score(i)
    if max_score < score:
        trains = []
        max_score = score
        trains += list(i)
    print(i, reg_score(i))

('Sex',) 0.06389892583288004
('Rank',) 0.7525360539274633
('Year',) 0.49093702676921624
('Degree',) 0.004861680984748373
('YSdeg',) 0.4554281345836029
('Sex', 'Rank') 0.7554917749443395
('Sex', 'Year') 0.4911360941886387
('Sex', 'Degree') 0.06643739842018881
('Sex', 'YSdeg') 0.49304792719667834
('Rank', 'Year') 0.8436480933264598
('Rank', 'Degree') 0.7557961688386643
('Rank', 'YSdeg') 0.7623948189698249
('Year', 'Degree') 0.4919014149016442
('Year', 'YSdeg') 0.5782019226431887
('Degree', 'YSdeg') 0.5409662288237875
('Sex', 'Rank', 'Year') 0.8454319861987165
('Sex', 'Rank', 'Degree') 0.7583144768153613
('Sex', 'Rank', 'YSdeg') 0.7666122610227071
('Sex', 'Year', 'Degree') 0.49207944757472966
('Sex', 'Year', 'YSdeg') 0.5808063918180406
('Sex', 'Degree', 'YSdeg') 0.5832708257660315
('Rank', 'Year', 'Degree') 0.8437395200874138
('Rank', 'Year', 'YSdeg') 0.8456725764485596
('Rank', 'Degree', 'YSdeg') 0.7625149185326454
('Year', 'Degree', 'YSdeg') 0.6236261611533505
('Sex', 'Rank', 'Year', 'Degree') 0.845547641297936
('Sex', 'Rank', 'Year', 'YSdeg') 0.8490366192262853
('Sex', 'Rank', 'Degree', 'YSdeg') 0.7671813414350668
('Sex', 'Year', 'Degree', 'YSdeg') 0.6311597502907436
('Rank', 'Year', 'Degree', 'YSdeg') 0.8485077204335425
('Sex', 'Rank', 'Year', 'Degree', 'YSdeg') 0.8547180674410969

In [18]:
print(trains, max_score)

['Sex', 'Rank', 'Year', 'Degree', 'YSdeg'] 0.8547180674410969